{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My todo app</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>

<body class="index-background">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3390FF">

        <a class="navbar-brand" href="/"><b>ToDo App</b></a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">

        <div class="container">
            <div class="card mt-2" >
                <div class="card-body ml-5 mr-5">
                    <form class="form-row mt-3" action="{% url 'todo:new_task' %}">
                        {% csrf_token %}
                        <div class="form-group col" style="text-align: center">
                            <div class="mt-2">
                                <b>Insert your task !</b>
                            </div>
                        </div>
                        <div class="form-group col-7 ml-5 mr-5">
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <button class="btn btn-primary btn-block">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">

            {% block content %}

            {% endblock content %}

        </div>
    </div>



</body>

</html>