{% extends 'todo/index.html' %}

{% block content %}
    
            <div class="card mt-2">
                <div class="card-body mt-2 md-0 ml-5 mr-5">
                    <form class="form-row mt-3" action="{% url 'todo:new_task' %}">
                        {% csrf_token %}
                        <div class="form-group col-10" style="text-align: center">
                            <div class="mt-2" style="text-align: left">
                                <span >Your task</span>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <button class="btn btn-danger btn-block">X</button>
                        </div>
                    </form>
                </div>
            </div>


{% endblock content %}
